#nav_box{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;

}

#nav_left{
  margin: -18px 0 -20px 3%;
  object-fit: cover;
}

#nav_right{
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
}

.link{
  font-family: "Dark Paradise", "Helvetica";
  font-weight: normal;
  font-size: 1.5em;
  font-style: italic;
  color: black;
  text-decoration: none;
  margin: 0 5%;
}

.hero_pic{
display: flex;
justify-content: center;
border: 4px black;
border-style: solid none;
}

#brownie{
  max-height: 85vh;
  object-fit: cover;
}

#banner{
  position: absolute;
  margin: 0 30%;
}

.where_box{
  display: flex;
  padding: 0 2%;
  font-family: "Helvetica";
  font-size: 1.4em;
  background-color: #ff6666;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

.where_box > p{
  padding: 5px 5px 5px 0;
  border-right: 4px solid black;
}

#marquee{
  padding: 5px 0 5px 5px;
}

.breaking{
  font-family: "Dark Paradise", "Helvetica", sans-serif;
  font-weight: lighter;
  height: 300px;
  background-color: #FFEE76;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 2em;
  text-decoration: underline;
  border: 2px solid red;
  padding: 40px 0 0 10%;
}

.content_recent{
  display: flex;
  border: 2px solid green;
}

.description{
  border: 2px solid blue;
}

#img_placeholder{
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
}
