#nav_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  background-color: rgba(255, 192, 0, 0.2);
}

#nav_left{
  margin: -20px 0 -20px 3%;
  object-fit: cover;
}

#nav_right{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  margin-right: 3%;
}

#link_box{
  display: flex;
  justify-content: flex-end;
  margin-right: 18%;
}

#ig_link{
  margin: -1px 0 -3px 0;
}

.link{
  font-family: "Dark Paradise", "Helvetica";
  font-style: italic;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  margin: 0 5%;
}

.hero_pic{
display: flex;
justify-content: center;
border: 2px black;
border-style: solid none;
}

#brownie{
  max-height: 85vh;
  object-fit: cover;
}

#banner{
  position: absolute;
  margin: 0 30%;
}

.where_box{
  display: flex;
  padding: 0 2%;
  font-family: "Poppins";
  font-size: 1.4em;
  background-color: #ff6666;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.where_box > p{
  padding: 5px 10px 5px 0;
  border-right: 2px solid black;
  font-weight: 300;
}

#marquee{
  font-weight: 300;
  padding: 5px 0 5px 10px;
}

.breaking{
  font-family: "Poppins", "Helvetica", sans-serif;
  min-height: 300px;
  background-color: rgba(255, 192, 0, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 40px 9% 60px 7%;
  border-bottom: 2px solid black;
}

.title{
  font-weight: 600;
  font-size: 2.5em;
  min-width: 235px;
}

#recent_box{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  width: 60%;
  min-width: 235px;

}

#recent_copy{
  padding-right: 8%;
}

#recent_title{
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.recent_body{
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 20px;
}

#image_recent{
  height: 300px;
  width: 300px;
}

#hero_boxes{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  text-decoration: none;
  color: black;
}

.box{
  display: flex;
  width: 100%;
  padding: 10px 0 10px 3%;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  color: black;
  background-color: white;
  border-bottom: 2px solid black;
}

.article_link{
  display: flex;
  position: relative;
  text-decoration: none;
  color: black;
}

.article_photo{
  height: 100%;
  object-fit: cover;
}

.link_text{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.5em;
  color: black;
  background-color: white;
  padding: 5px 8px;
}

.two,
.three{
  display: none;
}

.recipes{
  background-color: #D6E9FE;
  border-top: 2px solid black;
}

.photography{
  background-color: #F09A9D;
}

.about{
  background-color: #C8C6FA;
}

.contact{
  background-color: #D6E9FE;
}

.store{
  background-color: #B2D6FF;
}

@media only screen and (min-width: 800px) {
  .article_link{
    width: 33.3%;
    border-right: 2px solid black;
  }

.article_photo{
  max-height: 600px;
}

.link_text{
  font-size: 1.2vw;

}
  .three{
    border-right: none;
  }

  .two,
  .three{
    display: flex;
  }

  .recipes,
  .photography,{
    width: 50%;
  }
  .about,
  .contact,
  .store{
    width: 33.3%;
  }

}
